body {
  font-family: 'Times New Roman', 'Droid Sans Mono', sans-serif;
}



section {

        width: 100%;
        height: 100%;            
        height: 1000px;
        
        

}


#audio { 
    padding-top: 250px;   
    
    
       
}


#audiofile {
   width: 300px; 
    
}



