body {
  font-family: 'Times New Roman', 'Droid Sans Mono', sans-serif;
}




#play-pause {
    
    text-align: center;
     padding-top: 50px;
    
}

#audio-play, #audio-pause { 
    width: 50px;
    height: 50px;
    border-radius: 50%;


}


#audio { 
    padding-top: 40px; 
    padding-bottom: 40px;
   
    
       
}



#text {   
 
    padding: 25px;
    font-size: 20px;
    
}

#sub {    
    
    box-shadow: 0 1px 4px rgba(0,0,0,0.8);    
    min-height: 300px;
    margin:0 auto;
    text-align:justify;
    text-justify:inter-word;
    text-justify:inter-ideograph;
}





